@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("nivea-cufonfonts-webfont/style.css");

h4 {
  /* font-family: "Open Sans", sans-serif; */
  font-weight: 700;
  font-size: 20px;
  /* text-transform: capitalize; */
  text-align: center;
}

body {
  background: #000;
  height: 300vh;
}

@keyframes opacityChange {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sample {
  height: 100vh;
  position: relative;
  color: white;
  opacity: 0;
  transition: all 0.1s linear;
}

.sample.fade-in {
  opacity: 1;
}

.sample h4 {
  font-family: "Nivea Regular";
  font-size: 2rem;
  letter-spacing: normal;
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sample .para1 p,
.sample .para2 p,
.sample .para3 p {
  background-color: #2e2e2e;
  padding: 20px;
  width: 300px !important;
  margin: 0;
  position: absolute;
  border-bottom: 5px solid #ffb82b;
}

.sample .para1 p {
  top: 500px;
  left: 50px;
}

.accent {
  color: #ffb82b;
  font-family: "Nivea Bold";
}

.sample .para2 p {
  top: 100px;
  left: 150px;
}

.sample .para3 p {
  top: 300px;
  right: 50px;
}

@media screen and (max-width: 960px) {
  .sample .para1 p,
  .sample .para2 p,
  .sample .para3 p {
    /* width: 300px !important; */
    /* margin: 0; */
    left: 0%;
    /* bottom: 40px; */
  }

  .sample h4 {
    bottom: 100px;
  }
}

.sample .inside {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.sample .inside h3 {
  color: white;
}

.canvas-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

canvas {
  position: fixed;
  max-width: 100%;
  height: auto;
  /* border: 5px solid white; */
}

#form {
  padding: 60px 0;
}

#form h1 {
  font-size: 30px;
}

#form p {
  font-size: 18px;
}

#form .form-box {
  background-color: white;
}

#form input {
  border-radius: 0;
}

.mybtn {
  text-transform: uppercase;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 0;
  border: 2px solid black;
  transition: ease-in-out 0.3s;
}

.mybtn:hover {
  background-color: black;
  color: white;
}

footer {
  position: relative;
  background-color: #424242;
  color: white;
}

footer a {
  color: white;
}
