body {
  background: #000;
  height: 400vh;
}

.sample {
  height: 100vh;
  position: relative;
  color: white;
  text-transform: capitalize;
  opacity: 0;
  transition: all 1s ease-out;
}
.sample.fade-in {
  opacity: 1;
}
.sample h4 {
  color: white;
  text-align: center;
}

.canvas-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

canvas {
  position: fixed;
  max-width: 40%;
  height: auto;
  /* border: 5px solid white; */
}
