@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&display=swap");
body {
  background-color: pink;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: purple;
  font-family: ;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
